#login-form{
		width: 300px;
		background-color: #585858; 
		border:2px solid white;
		padding: 2em;
		height: 370px;
		margin-top: 20px;
	}

#buttonTest{
  /*display: inline-block;*/
  padding: 4px 8px;
  margin-bottom: 0;
  font-size: 10px;
  font-weight: bold;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  margin-top: 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: #222;
}
	.username,.password{
		padding: 5px;
		margin-bottom: 2px;
	}
/*table {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
td{
 white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}
.row-question{width:25%;}
.row-id{width:5%;}
.row-option{width:70%;}*/
	input[type=submit]:hover{
		background: #287368;
		cursor: pointer;
		color: #000000;
		}
}
}

	
	
#login-logo{
	width: 200px;
	height: 200px;
}

	
	#span-home,#span-clubs,#span-book,
	#span-calendar,#span-account,#span-logout,#span-budget,hover ul{
		font-size:10px;
		color:#ccc;
		font-weight: bold;
	}
	#navbar-collapse-1 ul li a,visited{

		color: #222;
		display: block;
		padding: 15px;
	

	}

	#navbar-collapse-1 ul li:hover{

		
		background-color: #fff;
		
	}
	
.account-login{
	width: 20px;
	height: 20px;
}

#view_update_btn{
	width: 30%;
}


#input-search{
  margin-top: 3px;
 margin-bottom: 3px;
  display: block;
  width: 180px;
  height: 32px;
  padding: 6px 12px;
  font-size: 10px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
 
   
 
}
#club-name-input{
/*display: block;*/
  width: 55%;
  height: 32px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
 
   
 
}
#classification-multiple{
/*display: block;*/
  width: 30%;
  height: 32px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
 
   
 
}
#btn-search{
/*	margin-top: 10px;
display: inline-block;*/
  padding: 6px 12px;
  margin-bottom: 3px;
  margin-top: 3px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  
}
#panel-login{
	margin-right: 500px;
}
.main-nav-img{
	width: 30px;
	height: 20px;
}
.add-btn{
	margin-bottom: 10px;
}
#main-banner{
	width: 60px;
	height: 50px;
}
#navbar-collapse-1{
	color: #fff;
}
.btn-create{
	
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 6px;
}
.header-list {
  margin-top: 20px;
  margin-bottom: 0px;
}
.create-image{
  width: 35px;
  height: 35px;
}
